<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线聊天系统 | 登录</title>
</head>
<body>
    <form class="login-form" action="../../static/chat.html" method="post" onsubmit="return login()">
        <h1>在线聊天系统</h1>
        <input type="text" name="username" required="true"/>
        <input type="text" name="password" required="true"/>
        <input type="submit" value="登录">
    </form>
    <script type="text/javascript" src="../static/libs/jquery.js"></script>
    <script type="text/javascript">
        function login() {
            var element = document.getElementsByName('username')[0];
            var username = element.value;
            var success = false;
            var data = {
                username: username
            };

            //调用服务器登录接口，得到唯一标识：auth
            //var auth = login(username);
            $.ajax({
                url: 'http://localhost:8000/login/',
                type: 'POST',
                contentType: 'application/json',
                cache: false,
                async: false,
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    if (result.code == 200){
                        localStorage.setItem('auth', result.auth);
                        localStorage.setItem('username', username);
                        //记录唯一标识到本地
                        success = true;
                    }
                    else {
                        alert(result.message);
                    }
                },
                error: function (xhr) {
                    console.error(xhr);
                }
            });

            //记录唯一标识到本地
            //localStorage.setItem('auth', auth);
            //localStorage.setItem('username', username);
            return success;
        }

        window.onLoad = function () {
            var username = localStorage.getItem('username');
            if (username){
                window.location.href = '../../static/chat.html';
            }
        }
    </script>
</body>
</html>